body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    white-space: pre-wrap;
    user-select: none;
    width: 100vw;
    height: 100vh;
    display: block;
    pointer-events: none;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.wiki-text {
    font-family: "Courier New", monospace;
    font-size: 20px;
    line-height: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: pre-wrap;
    white-space: break-spaces;
    color: black;
    padding-bottom: 5px;
    text-align: left;
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fax {
    width: 25vw;
    height: 80vh;
    /* background-color: rgb(255, 255, 255);
    border-top-left-radius: 225px 15px;
    border-top-right-radius: 25px 205px;
    border-bottom-right-radius: 150px 15px;
    border-bottom-left-radius: 30px 205px;
    box-sizing: border-box;
    transition: all .5s ease;
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
    border: solid 2px #41403E;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px; */

}

.wiki-screen {
    width: 400px;
    height: 80vh;
    background-color: rgb(255, 255, 255);
    padding: 20px;

    margin: 0;
    box-sizing: border-box;
    transition: all .5s ease;
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
    border: solid 2px #41403E;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    /* border-radius: 20px 70px 200px 255px/100px 100px 15px 20px; */
    /* border-radius: 150px 15px 205px 20px/15px 200px 20px 245px; */
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius: 15px 255px;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: #fff;

}

.draw {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 500px;
    box-sizing: border-box;
    transition: all .5s ease;
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
    border: solid 2px #41403E;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border-top-right-radius: 255px 15px;
    border-top-left-radius: 15px 225px;
    border-bottom-left-radius: 225px 15px;
    border-bottom-right-radius: 15px 255px;
}

.draw .lines {
    width: 80%;
    height: 60%;
    margin-top: 20px;
    background-image:
        linear-gradient(80deg, transparent 100px, #000000 100px, #000000 100px, transparent 100px),
        linear-gradient(#9e9e9e.1em, transparent .1em);
    background-size: 100% 3em;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    gap: 40px
}

.screen {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    user-select: none;
    filter: contrast(3) saturate(2) blur(0.5px);
    text-shadow: 0 0 2px rgba(25, 0, 255, 0.4);
}


.crt::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    /* animation: flicker 0.4s infinite; */
}

.crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    z-index: 9999;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 9999;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}

.crt {

    background-color: white;
}




#bin {
    width: 40px;
    height: 40px;
    transition: all 0.1s ease;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    pointer-events: auto;
    margin-left: 20px
}

.top-bar {
    margin: 20px 0 20px 0;
}

#bin:hover {
    transform: scale(1.08);
}


.bottom-bar {
    display: flex;
    justify-content: center;
}

.insert {
    width: 180px;
    height: 70px;
    margin-top: 30px;
    border: solid 3px #646361;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border-top-right-radius: 255px 15px;
    border-top-left-radius: 15px 225px;
    border-bottom-left-radius: 225px 15px;
    border-bottom-right-radius: 15px 255px;
    font-family: 'Courier New', Helvetica;
    font-size: 25px;
    transition: all 0.2 ease;
    background-color: white;
    font-weight: 500;
    cursor: pointer;
}

.insert:hover {
    transform: rotate(3deg);
}

.next-button {
    width: 120px;
    height: 40px;
    margin: 20px;
    border: solid 3px #646361;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border-top-right-radius: 255px 15px;
    border-top-left-radius: 15px 225px;
    border-bottom-left-radius: 225px 15px;
    border-bottom-right-radius: 15px 255px;
    font-family: 'Courier New', Helvetica;
    font-size: 25px;
    transition: all 0.2 ease;
    background-color: white;
    cursor: pointer;
}

.next-button:hover {
    transform: rotate(3deg);
}

.scroll-container {
    overflow: hidden;
    white-space: nowrap;
    z-index: 9000;
}

.track {
    position: relative;
    display: inline-flex;
    gap: 40px;
    width: max-content;
    animation: scroll 15s linear infinite;
    background-color: grey;
    color: white;
    font-size: 20px;
    padding: 5px 0 5px 0;
    z-index: 9000;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}


.work {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    z-index: -1;
    border-top: dashed 2px black;
    -webkit-box-shadow: 5px 3px 19px 7px rgba(135, 135, 135, 0.5);
    box-shadow: 5px 3px 19px 7px rgba(135, 135, 135, 0.5);
}

.lines {
    width: 85%;
    height: 60%;
    margin-top: 20px;
    background-image:
        linear-gradient(80deg, transparent 100px, #a1a1a1 100px, #c2c2c2 100px, transparent 100px),
        linear-gradient(#9e9e9e .1em, transparent .1em);
    background-size: 100% 1.7em;
}

.wiki-screen .top-bar {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.cover {
    position: absolute;
    display: flex;
    align-self: center;
    justify-content: center;
    width: 445px;
    height: 190px;
    transform: translate(-30px);
    left: 3vw;
    top: 0px;
    background-color: white;
    z-index: 2;
    border-bottom: solid 1px black;
}

.print {
    position: relative;
    z-index: 3;
    width: 140px;
    height: 45px;
    margin-top: 100px;
    border: solid 3px #646361;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border-top-right-radius: 255px 15px;
    border-top-left-radius: 15px 225px;
    border-bottom-left-radius: 225px 15px;
    border-bottom-right-radius: 15px 255px;
    font-family: 'Courier New', Helvetica;
    font-size: 25px;
    transition: all 0.2 ease;
    background-color: white;
    cursor: pointer;
}

.print:hover {
    transform: rotate(3deg);
}