canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

p {
    font-family: "Courier New", monospace;
    font-size: 20px;
    line-height: 20px;
    white-space: pre-wrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}